/* Color Palette
Dark Gold #8E793E
Light Gold #AD974F
Dark Grey #231F20
Light Grey #EAEAEA */

:root {
  --dark-gold-color: #8E793E;
  --light-gold-color: #AD974F;
  --dark-grey-color: #231F20;
  --light-grey-color: #EAEAEA;
  --white-key-width: 48px;
  --black-key-width: 28px;
  --white-key-height: 192px;
  --black-key-height: 100px;

}

* {
  font-family: Georgia;
  color:  #231F20;
}

.welcome, .piano{
	text-align: center;
}

.w-key {
	display: inline-block;
	width: var(--white-key-width);
	height: var(--white-key-height);
	background-color: white;
	margin: 0 -6px;
	border: 1px solid;
}

.b-key {
	display: inline-block;
	position: relative;
	width: var(--black-key-width);
	height: var(--black-key-height);
	background-color: black;
	margin: 0 -14px;
	vertical-align: top;
}

.w-key:hover {
	background-color: #EAEAEA;
}

.b-key:hover {
	background-color: #464646;
}

